@import '../../variables.scss';

.slept-per-day{
    height: 250px;
    width: 800px;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}
// .chart {
//     height: 200px;
//     width: 600px;
//     position: absolute;
// }

@media screen and (max-width: 767px) {
    .slept-per-day {
        width: 700px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .slept-per-day {
        width: 700px;
    }
}

@media screen and (max-width: 375px) {
    .slept-per-day {
        width: 340px;
    }
}