@import '../../variables.scss';

.slept-per-day{
    height: 250px;
    width: 800px;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}
// .chart {
//     height: 200px;
//     width: 600px;
//     position: absolute;
// }

@media screen and (max-width: 767px) {
    .chart {
        width: 200px;
    }
}