.slept-per-day{
    background-color: grey;
    height: 250px;
    width: 800px;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;
}
.chart {
    height: 200px;
width: 600px;
position: absolute;

}