@import '../../variables.scss';

.log-display {
    // background-color: $secondary-color;
    color: white;
    display: flex;
    // box-shadow: 5px 5px 10px $lighter-highlight;
    border: 5px;
    border-color: white;
    border-radius: 5px;
    border-style: solid;

}