@import '../../variables.scss';

.log-display {
    color: $font-color;
    display: flex;
    justify-content: space-between;
    border: 1px;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    width: 88vw;
    margin: auto;
    margin-bottom: 8px;
    box-shadow: 1px 1px 5px $lighter-highlight;
    height: 25px;
    margin-left: 20px;
}
.log-display-labels {
    color: $font-color;
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.log-display-asleep {
    width: 25%;
    height: 80%;
    padding-left: 10px;
    padding-top: 4px;
    cursor: pointer;
}
.log-display-awake {
    width: 25%;
    height: 80%;
    padding-top: 4px;
    cursor: pointer;
}
.log-display-length {
    width: 25%;
    height: 80%;
    flex-grow: 1;
    padding-top: 4px;
    cursor: pointer;
}
.log-display-delete {
    margin-right: auto;
    font-size: 9px;
    margin-top: 2px;
    margin-bottom: 2px;

    display: inline-block; 
    padding: .3em .6em;
    border: .094em solid $aux-1; 
    border-radius: .625em;
    background-color: $aux-2;
    box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 .063em rgba(0,0,0,.3);
    cursor: pointer;
    font: bold 2rem sans-serif;   
}
log-display-delete:hover {
    background-color: $aux-2;
    box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em $aux-3;
}
log-display-delete:active {
    box-shadow: inset 0 0 1.094em $aux-5, inset 0 .063em $aux-4, inset 0 -0.188em $aux-3, 0 .063em rgba(255,255,255,.4); 
}

//Collapsible Log Code
// .collapsible-log-container::-webkit-scrollbar { background-color: transparent; }
.collapsible-log-container::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $lighter-highlight;
    -webkit-box-shadow: inset 0 0 6px $primary-color; 
}
.center-log-name {
    padding-top: 9px;
}
.collapsible-log-container{
    
    width: 98%;
    margin: auto;
    margin-top: 10px;
    @include shadowbox-light;
    color: $font-color;
    max-height: 280px;
    overflow-y: auto
    }

.detailed-logs {
    text-align: center;
    height: 30px;
    vertical-align: center;
}
.click-to-collapse {
    color: red;
    cursor: pointer;
}

Table {
    width: 99%;
}

