@import '../../variables.scss';

.log-display {
    color: $font-color;
    display: flex;
    justify-content: space-between;
    border: 1px;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    width: 99%;
    margin: auto;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px $lighter-highlight;
    height: 20px;
}
.log-display-labels {
    color: $font-color;
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.log-display-asleep {
    width: 25%;
    height: 80%;
    padding-left: 10px;
}
.log-display-awake {
    width: 25%;
    height: 80%;
}
.log-display-length {
    width: 25%;
    height: 80%;
    flex-grow: 1;
}
.log-display-delete {
    margin-right: auto;
    font-size: 9px;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
.log-display-container {
    width: 95%;
    margin: auto;
    @include shadowbox-light;
}

//Collapsible Log Code
.collapsible-log-container{
    cursor: pointer;
    border: solid 1px #f2f2f2;
    width: 95%;
    margin: auto;
    background-color: $secondary-color;
    color: #FFF;
    }