@import '../../variables.scss';

.log-display {
    color: white;
    display: block;
    border: 1px;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px $lighter-highlight;

}

.log-display-delete {
    float: right;
}
