@import '../../variables.scss';

.update-baby-container {

    // position: absolute;
    // bottom: -5px;
    // left: 5px;
    // background-color: red;
}
.updating-container {
    // background-color: black;
    display: flex;
    justify-content: space-between;
    width: 420px;

}
.edit-baby-button {
    // margin-bottom: 66px;
    // margin-left: -5px;
}
.update-baby-input {
    padding: 9px;
    // margin-left: 5px;
    // margin-right: 5px;
    width: 100px;
}
.cancel-update-button {
    // margin-bottom: 13px;
    // margin-left: 300px;
    
}
// @media screen and (max-width: 767px) {
//     .update-baby-button {
//         position: absolute;
//         bottom: -55px;
//     }
// }