@import './variables.scss';

.App {
  height: 120vh;
  width: 100vw;
  background-color: $primary-color;
}

body::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
  border-radius: 10px;
  background-color: rgba(27, 30, 50, 1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(27, 30, 50, 0.3);
  -webkit-box-shadow: inset 0 0 6px $primary-color; 
}