@import './variables.scss';

.App {
  height: 120vh;
  width: 100vw;
  background-color: $primary-color;
}

body::-webkit-scrollbar {
  background-color: $primary-color;
  width: 8px;
}
::-webkit-scrollbar-track {

  background-color: $primary-color;
}


::-webkit-scrollbar-corner {
  background-color: $primary-color;
}
// ::-webkit-scrollbar-track-piece