$primary-color: #204051;
$secondary-color: #3b6978;
$darker-highlight: #84a9ac;
$lighter-highlight: #cae8d5;
$font-color: #cae8d5;

button {
    display: inline-block; 
    padding: .3em .6em;
    border: .094em solid $primary-color; 
    border-radius: .625em;
    background-color: $secondary-color;
    box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    
cursor: pointer;
    font: bold 2rem sans-serif;
}
button:hover {
    background-color: #8A58B7;
    box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em #804FAD;
}
button:active {
    box-shadow: inset 0 0 1.094em #472566, inset 0 .063em #390668, inset 0 -0.188em #682CA0, 0 .063em rgba(255,255,255,.4); 
}
// @mixin button($padding:5px 10px, $font-size:14px, $border-radius:10px, $bg-color:$secondary-color, $font-color:$font-color) {
// 	padding:$padding;
// 	display:inline-block;
// 	border-radius:$border-radius;
// 	background:$bg-color;
// 	font-size:$font-size;
//     color:$font-color;
    
// }

// .submit-new-log {
// 	@include button;
// }

// .btn-large {
// 	@include button(20px 30px, 22px);
// }