$primary-color: #204051;
$secondary-color: #3b6978;
$darker-highlight: #84a9ac;
$lighter-highlight: #cae8d5;
$font-color: #cae8d5;


// @mixin button($padding:5px 10px, $font-size:14px, $border-radius:10px, $bg-color:$secondary-color, $font-color:$font-color) {
// 	padding:$padding;
// 	display:inline-block;
// 	border-radius:$border-radius;
// 	background:$bg-color;
// 	font-size:$font-size;
//     color:$font-color;
    
// }

// .submit-new-log {
// 	@include button;
// }

// .btn-large {
// 	@include button(20px 30px, 22px);
// }


.button {
	background-color:#6445c7;
	
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #ffb700;
}.button:hover {
	background-color:#bd2a82;
}.button:active {
	position:relative;
	top:1px;
}