$primary-color: #204051;
$secondary-color: #3b6978;
$darker-highlight: #84a9ac;
$lighter-highlight: #cae8d5;
$font-color: #cae8d5;
//Auxillary Colors
$aux-1: #26596A;	// Main Primary color */
$aux-2: #6C939F;
$aux-3: #457585;
$aux-4: #104050;
$aux-5: #022835;

//ADD MIXIN

button {
    display: inline-block; 
    padding: .3em .6em;
    border: .094em solid $aux-1; 
    border-radius: .625em;
    background-color: $aux-2;
    box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 .063em rgba(0,0,0,.3);
    cursor: pointer;
    font: bold 2rem sans-serif;
}
button:hover {
    background-color: $aux-2;
    box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em $aux-3;
}
button:active {
    box-shadow: inset 0 0 1.094em $aux-5, inset 0 .063em $aux-4, inset 0 -0.188em $aux-3, 0 .063em rgba(255,255,255,.4); 
}

@mixin shadowbox-heavy($border-radius:10px, $box-shadow:5px 5px 10px  $lighter-highlight) {
    border-radius: $border-radius;
    box-shadow: $box-shadow;   
}
@mixin shadowbox-light($border-radius:10px, $box-shadow:3px 3px 7px  $lighter-highlight) {
    border-radius: $border-radius;
    box-shadow: $box-shadow; 
}

// @mixin button($padding:5px 10px, $font-size:14px, $border-radius:10px, $bg-color:$secondary-color, $font-color:$font-color) {
// 	padding:$padding;
// 	display:inline-block;
// 	border-radius:$border-radius;
// 	background:$bg-color;
// 	font-size:$font-size;
//     color:$font-color;
//     &:hover{
//         background-color: red;
//     }
// }

// .submit-new-log {
// 	@include button;
// }

// .btn-large {
// 	@include button(20px 30px, 22px);
// }