@import '../../variables.scss';

.slept-per-day{
    height: 250px;
    width: 90%;
    margin-top: 15px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}
// .chart {
//     height: 200px;
//     width: 600px;
//     position: absolute;
// }

@media screen and (max-width: 767px) {
    .slept-per-day {
        width: 99%;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1023px) {
//     .slept-per-day {
//         width: 99%;
//         background-color:red;
//     }
// }

// @media screen and (max-width: 375px) {
//     .slept-per-day {
//         width: 300px;
//         margin-top: 0px;
//         background-color: green;
//     }
// }
// @media screen and (max-width: 538px) {
//     .slept-per-day {
//         height: 350px;
//         background-color: orange;
//     }
//     .chart {
//         height: 95%;
//     }
// }