@import '../../variables.scss';
.add-baby-container {
    display: flex;
    justify-content: space-between;
    // background-color: blue;
    width: 100%;
}
.add-new-baby-container {
    // background-color: green;
    width: 49%;
}
.add-existing-container {
    // background-color: red;
    width: 49%;
}
.add-baby-label {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    width: 220px;
    // background-color: red;
}
.add-baby-paragraph {
    max-width: 500px;
    margin-left: 20px;
    margin-top: 20px;
    // background-color: green;
}
.add-baby-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    // background-color: black;
}

.add-baby-button {
    margin-top: 10px;
    margin-left: 20px;
    width: 130px;
    // background-color: red;
}
.add-existing-button {
    margin-top: 18px;
    margin-left: 20px;
    width: 170px;
    // background-color: red;
}
.add-baby-login-paragraph {
    margin: 20px;
    font-size: 24px;
}
@media screen and (max-width: 767px) {
    .add-baby-container{
        // background-color: red;
        flex-direction: column;
        margin-right: 10px;
        align-items: center;
        justify-content: flex-start;
        width: 95%;
    }
    .add-baby-paragraph {
        // background-color: red;
        // margin-left: 5px;
    }
    .add-existing-container {
        // background-color: blue;
        width: 350px;
    }
    .add-new-baby-container {
        width: 350px;
    }
    .baby-container {
        height: 100%;
    }
}

// @media screen and (max-width: 767px) {
//     .add-baby-container {
//         left: 10px;
//         top: 10px;
//         margin-bottom: 20px;
//         position: relative;
//         width: 95%;
//         max-width: 300px;

//         // width: 95%;
//         // margin-left:20px;
//         // max-width: 400px; 
//         // height: 110px;
//         // position: relative;
//     }
//     .submit-new-log{
//         position: absolute;
//     }
// }

// .add-baby {
//     @include shadowbox-light;
//     width: 200px;
//     height: 100px;
//     // margin-left: 30px;
//     right: 20px;
//     top: 50px;
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: flex-end;
// }