@import '../../variables.scss';

.add-baby-container {
    color: $font-color;
}
.add-baby-label {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    width: 200px;
}
.add-baby-paragraph {
    max-width: 500px;
    margin-left: 20px;
    margin-top: 20px;
}
.add-baby-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 110px;
    margin-left: 20px;
    margin-top: 20px;
}

.add-baby-button {
    margin-top: 10px;
    margin-left: 20px;
}
.add-baby-login-paragraph {
    margin: 20px;
    font-size: 24px;
}

// @media screen and (max-width: 767px) {
//     .add-baby-container {
//         left: 10px;
//         top: 10px;
//         margin-bottom: 20px;
//         position: relative;
//         width: 95%;
//         max-width: 300px;

//         // width: 95%;
//         // margin-left:20px;
//         // max-width: 400px; 
//         // height: 110px;
//         // position: relative;
//     }
//     .submit-new-log{
//         position: absolute;
//     }
// }

// .add-baby {
//     @include shadowbox-light;
//     width: 200px;
//     height: 100px;
//     // margin-left: 30px;
//     right: 20px;
//     top: 50px;
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: flex-end;
// }