@import '../../variables.scss';
@import '../../Components/BabyDisplay/Tabs.scss';

.baby-container {
    margin-left: 20px;
    width: 95%;
    max-width: 1000px;
    background-color: $secondary-color;
    height: 500px;
    position: relative;
    margin-bottom: 20px;
    @include shadowbox-heavy;
    // background-color: green;
}
.tab-panel {
    height: 100%;
    width: 100%;
    
}
.update-delete-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}
.delete-baby-button {
    width: 121px;
    height: 36px;
}
.false-container {
    font-style: italic;
    font-weight: 100;
    color: grey;
}
.shared-scroll-container {
    // background-color: red;
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 1;
    // width: 1000px;
}
.collapsible-shared-container {
    // background-color: grey;
    // max-width: 320px;
    max-height: 400px;   
    overflow-y: auto;
    @include shadowbox-light;
}

.shared-collapse-button {
    color: $font-color;
    cursor: pointer; 
    padding-top: 1px;
    text-align: center;
    height: 20px;
    width: 80px;
    margin: auto;
    border: solid white 2px;
    border-radius: 10px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    background-color: $primary-color;
    position: absolute;
    right: 0px;
    z-index: 1;
}
.shared-collapse-button:hover {
    background: #274e63;

}
.shared-display-container {
    // background-color: pink;
    // width: 300px;
    color: $font-color;
}
.shared-expand-button {
    background: $button-background;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
    color: $font-color;
    text-transform: uppercase;
    font-size: 16px;
    height: 40px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}
.shared-expand-button:hover {
    background: $button-hover;
    box-shadow: none;
}
.revoke-sharing{
    // margin-right: auto;
    font-size: 10px;
    height: 20px;
    width: 50px;
    margin-top: 3.7px;
    margin-right: 3.7px;
    // background-color: pink;
    // text-shadow: 0 1px 0 rgba(0,0,0,.2);
}
.shared-display {
    border: 1px;
    color: $font-color;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 8px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;
    // box-shadow: 1px 1px 5px $lighter-highlight;
}
.shared-display-labels {
    color: $font-color;
    display: flex;
    justify-content: flex-start;
    // background-color: green;
    // margin-left: 5px;
    // margin-top: 5px;
    // margin-bottom: 5px;
}
.shared-display-name {
    width: 100px;
    height: 80%;
    // padding-left: 20px;
    padding-top: 6px;
    // background-color: red;
    // margin-left: 5px;
    text-align: left;
}
.shared-display-email {
    width: 190px;
    height: 80%;
    padding-top: 6px;
    // background-color: blue;
    // margin-left: 15px;
    text-align: left;
}
.collapsible-shared-container::-webkit-scrollbar {
    width: 12px;
    // background-color: orange;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $lighter-highlight;
    -webkit-box-shadow: inset 0 0 6px $primary-color; 
}
.scroll-container {
    position: relative;
}
// @media screen and (max-width: 538px) {
//     .baby-container {
//         height: 600px;
//     }
// }
// @media screen and (max-width: 805) {
//     .baby-container {
//         height: 600px;
//     }
// }
@media screen and (max-width: 800px) {
    .shared-scroll-container {
        // background-color: red;
        position: fixed;
        top: 10px;
        right: 10px;
    }
}