@import '../../variables.scss';
@import '../../Components/BabyDisplay/Tabs.scss';

.baby-container {
    margin: auto;
    width: 95%;
    background-color: $secondary-color;
    height: 500px;
    position: relative;
    margin-bottom: 20px;
    @include shadowbox-heavy;
}
.tab-panel {
    height: 100%;
    width: 100%;
    
}
.delete-baby-button {
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
