@import '../../variables.scss';
@import '../../Components/BabyDisplay/Tabs.scss';

// .baby-container {
//     width: 100vw;
//     height: 60%;
//     background-color: red;
//     display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	justify-content: space-between;
// 	align-items: baseline;
//     align-content: space-around;
// }

// .baby-card {
//     width: 200px;
//     height: 200px;
//     background-color: darkblue;
// }

.tab-panel {
    background-color: $secondary-color;
    width: 97%;
    margin: 0 auto;
}