@import '../../variables.scss';


.header {
    height: 15%;
    width: 100%;
    background-color: $primary-color;
}
.welcome-username {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 55px;
}