@import '../../variables.scss';



//Auth.js
// .auth {
//     height: 200px;
//     width: 80%;
//     margin: 0 auto;
//     background-color: white;
// }
.landing-login {
    width: 100px;
	height: 100px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

//Login.js
.login-button {
    font-size: 14px;
}
.click-register-button {
    font-size: 14px;
}
.login-container {
    width: 350px;
    padding-top: 10px;
    margin-left: 10px;
}

//Register.js
.already-registered-button {
    font-size: 14px;
}

//Logout.js
.logout-button {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}