@import '../../variables.scss';

.loading {
    background-color: $primary-color;
    height: 65vh;
    width: 99%;
    position: relative;
}

.loading-animation {

}
.lds-dual-ring {
    display: inline-block;
    width: 30vw;
    height: 30vw;
    margin: auto;
    margin-top: 135px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 78%;
    height: 78%;
    margin: 8px;
    border-radius: 50%;
    border: 20px solid #fff;
    border-color: $font-color transparent $font-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  