@import '../../variables.scss';
// .add-log {
//     width: 200px;
//     height: 200px;
//     background-color: lightblue;
//     color: white;
//     display: flex;
//     flex-direction: column;
// }
.add-log-container{
    margin-left:20px;
    color: $lighter-highlight;
}
.new-log{
    margin-top: 20px;
}
.add-log {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}