@import '../../variables.scss';
// .add-log {
//     width: 200px;
//     height: 200px;
//     background-color: lightblue;
//     color: white;
//     display: flex;
//     flex-direction: column;
// }
.add-log-container{
    margin-left:20px;
    color: $font-color;
    border-radius: 10px;
    width: 400px;
    box-shadow: 5px 5px 10px  $lighter-highlight;
    background-color: $darker-highlight;
}
.add-log-label {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.asleep-awake-container {
    margin-left: 5px;
    display: flex;
}


// .add-log-labels {
//     margin-left: 10px;
//     font-size: 16px;
// }
// .add-log-inputs {
//     margin-left: 10px;
// }