// .add-log {
//     width: 200px;
//     height: 200px;
//     background-color: lightblue;
//     color: white;
//     display: flex;
//     flex-direction: column;
// }
.new-log{
    margin-top: 20px;
}
.add-log {
    color: white;
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}