// $primary-color: #204051;
// $secondary-color: #3b6978;
// $darker-highlight: #84a9ac;
// $lighter-highlight: #cae8d5;
// $font-color: white;
// //Auxillary Colors
// $aux-1: #26596A;	// Main Primary color */
// $aux-2: #6C939F;
// $aux-3: #457585;
// $aux-4: #104050;
// $aux-5: #022835;
// //NEW COLORS
// $button-background: #112E3E;
// $button-hover: #335365;
// $button-click: #8DAAB4;
body {
    font-family: "Roboto", sans-serif;
  } 

$primary-color: #204051;
$secondary-color: #405c6b;
$darker-highlight: #84a9ac;
$lighter-highlight: #cae8d5;
$font-color: white;
//Auxillary Colors
$aux-1: #26596A;	// Main Primary color */
$aux-2: #6C939F;
$aux-3: #457585;
$aux-4: #104050;
$aux-5: #022835;
//NEW COLORS
$button-background: #3b6978;
$button-hover: #437889;
$button-click: #8DAAB4;

p {
    color: $font-color;
}
H1 {
    color: $font-color;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
H2 {
    color: $font-color;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
//   button {
//     font-family: "Roboto", sans-serif;
//     text-transform: uppercase;
//     outline: 0;
//     background: $secondary-color;
//     border: 0;
//     padding: 15px;
//     color: $font-color;
//     font-size: 14px;
//     -webkit-transition: all 0.3 ease;
//     transition: all 0.3 ease;
//     cursor: pointer;
//   }


// button {
//     display: inline-block; 
//     padding: .3em .6em;
//     border: .094em solid $aux-1; 
//     border-radius: .625em;
//     background: $aux-2;
//     box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
//     color: #FFF;
//     text-decoration: none;
//     text-transform: uppercase;
//     text-shadow: 0 .063em rgba(0,0,0,.3);
//     cursor: pointer;
// }
// button:hover {
//     background: $aux-2;
//     box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em $aux-3;
// }
// button:active {
//     box-shadow: inset 0 0 1.094em $aux-5, inset 0 .063em $aux-4, inset 0 -0.188em $aux-3, 0 .063em rgba(255,255,255,.4); 
// }

// @mixin shadowbox-heavy($border-radius:10px, $box-shadow:5px 5px 15px  $darker-highlight, $background-color:$secondary-color) {
//     border-radius: $border-radius;
//     box-shadow: $box-shadow;   
//     background-color: $background-color;
// }
// @mixin shadowbox-light($border-radius:10px, $box-shadow: inset 3px 4px 10px  $primary-color, $background-color:$aux-2) {
//     border-radius: $border-radius;
//     box-shadow: $box-shadow; 
//     background-color: $background-color;
// }
@mixin shadowbox-heavy {
    border-radius: 0px;
    // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: $primary-color;
}
@mixin shadowbox-light {
    border-radius: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

background-color: $secondary-color;
}
// @mixin button($padding:5px 10px, $font-size:14px, $border-radius:10px, $bg-color:$secondary-color, $font-color:$font-color) {
// 	padding:$padding;
// 	display:inline-block;
// 	border-radius:$border-radius;
// 	background:$bg-color;
// 	font-size:$font-size;
//     color:$font-color;
//     &:hover{
//         background-color: red;
//     }
// }

// .submit-new-log {
// 	@include button;
// }

// .btn-large {
// 	@include button(20px 30px, 22px);
// }

button {
    width: 100px;    
    height: 35px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    outline: 0;
    background: $button-background;
    border: 0;
    color: $font-color;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 0;
    text-shadow: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);

}
button:after {
    content: "";
    background: $button-click;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
button:hover {
    background: $button-hover;
    box-shadow: none;
}

.delete-button {
    background-color: #ca3535;
    border-color: #c43c35;
}
.delete-button:hover {
    background-color: #B03F3F;
}
.delete-button:active {
    background: #c43c35;
}
.delete-button:after {

    background: #FFD0D0;

}
.swal2-container .swal2-popup.swal2-toast {
    flex-direction: column;
    align-items: start;
    position: relative;
  }
  
//   .swal2-container .swal2-icon {
//     position: absolute;
//     top: 13px;
//   }
  
  .swal2-container .swal2-popup.swal2-toast .swal2-title,
  .swal2-container .swal2-popup.swal2-toast .swal2-content {
    margin-left: 50px;
  }