@import '../../variables.scss';

.update-baby-container {
    width: 270px;
    height: 32px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color:red;
}
.update-baby-button {
    font-size: 16px;
    // bottom: 10px;
    // left: 10px;
    
}
.update-baby-input {

    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
}
.cancel-update-button {
    font-size: 16px;
    // margin-bottom: 13px;
    // margin-left: 300px;
    
}